[submodule "themes/eth-hugo"]
	path = themes/eth-hugo
	url = git@github.com:sg-dev/eth-hugo.git
[submodule "themes/hugo-search-fuse-js"]
	path = themes/hugo-search-fuse-js
	url = git@github.com:kaushalmodi/hugo-search-fuse-js.git
