resources/_gen
.envrc
.vscode/
.idea/*
**/.idea/*
node_modules/
public/*
.Rhistory
/content/news/.DS_Store
/content/.DS_Store
/content/news/likelihood_ratio_test/.DS_Store
/content/publications/.DS_Store
/content/publications/2021/.DS_Store
/content/team/Ramona_Roller/.DS_Store
/content/team/Ramona_Roller/data/.DS_Store
/content/team/.DS_Store
.DS_Store
