/*******************************
styles.less
*******************************/
/*****
DEFINITIIONS:
*****/
/*******************************
definitions.inc.less
*******************************/
/*****
STYLES:
 *****/
html,
body {
  height: 100%;
  width: 100%;
}
body.wave-deactivate .section,
body.wave-deactivate footer {
  margin-top: 0 !important;
}
body.wave-deactivate .section:before,
body.wave-deactivate footer:before {
  display: none !important;
}
body.wave-deactivate .section:after,
body.wave-deactivate footer:after {
  display: none !important;
}
.site-wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
main {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  z-index: 2;
  flex: 1 0 auto;
}
@media (max-width: 768px) {
  main {
    padding-top: 125px;
  }
}
header .hamburger {
  display: none;
  padding: 4px 0 0;
}
@media (max-width: 768px) {
  header .hamburger {
    display: block !important;
  }
}
header .header__nav-level--root {
  bottom: initial !important;
  top: 125px !important;
  padding-bottom: 0.5rem;
}
.section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
  min-height: 10em;
  flex-shrink: 0;
}
@media (max-width: 700px) {
  .section {
    min-height: 5em;
  }
}
.section:last-child {
  flex: 1 0 auto;
}
.section.wave-deactivate:after {
  display: none !important;
}
.section.wave-deactivate + .section,
.section.wave-deactivate + footer {
  margin-top: 0 !important;
}
.section.wave-deactivate + .section:before,
.section.wave-deactivate + footer:before {
  display: none !important;
}
.section__bg {
  margin-top: 5.555%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.section__bg:before {
  content: "";
  background-size: 101% 100% !important;
  position: absolute;
  width: 100%;
  padding-top: 5.555%;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  z-index: 2;
}
.section__bg:after {
  content: "";
  background-size: 101% 100% !important;
  position: absolute;
  width: 100%;
  padding-top: 5.555%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  z-index: 2;
}
.section__bgprimary {
  margin-top: 0 !important;
  border-color: #A8322D;
  background: #A8322D;
}
.section__bgprimary:before {
  display: none;
}
.section__bgprimary:after {
  background: url("../img/after_red.png") no-repeat top left;
  box-shadow: inset 0 1px 0px #A8322D;
}
.section__bgprimary__image {
  content: "";
  background: url("../img/data-vis.png") no-repeat top right;
  background-size: 100% auto;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: -10em;
  z-index: 3;
  opacity: 0.25;
}
.section__bgsecondary {
  background-color: #e5c2c0;
  color: white;
  border-color: #e5c2c0;
  z-index: 3;
}
.section__bgsecondary:before {
  background: url("../img/before_lred.png") no-repeat bottom left;
  box-shadow: inset 0 -1px 0px #e5c2c0;
}
.section__bgsecondary:after {
  background: url("../img/after_lred.png") no-repeat top left;
  box-shadow: inset 0 1px 0px #e5c2c0;
}
.section__bgsecondary .section__inner {
  margin-bottom: -60px;
}
.section__bglight {
  background-color: white;
  color: #090909;
  border-color: white;
}
.section__bglight:before {
  background: url("../img/before_white.png") no-repeat bottom left;
  box-shadow: inset 0 -1px 0px white;
}
.section__bglight:after {
  background: url("../img/after_white.png") no-repeat top left;
  box-shadow: inset 0 1px 0px white;
}
.section__bgdark {
  background-color: #090909;
  color: white;
  border-color: #090909;
}
.section__bgdark:before {
  background: url("../img/before_dark.png") no-repeat bottom left;
  box-shadow: inset 0 -1px 0px #090909;
}
.section__bgdark:after {
  display: none;
}
.section__front {
  background: #A8322D;
  height: 460px;
}
@media (max-width: 768px) {
  .section__front {
    min-height: 240px;
    height: auto;
  }
}
.section__front h1 {
  color: #090909;
  font-size: 45px !important;
}
@media (max-width: 700px) {
  .section__front h1 {
    font-size: 30px !important;
  }
}
@media (max-width: 500px) {
  .section__front h1 {
    font-size: 24px !important;
  }
}
.section__front h2 {
  color: #090909;
  font-size: 24px !important;
}
@media (max-width: 700px) {
  .section__front h2 {
    font-size: 20px !important;
  }
}
@media (max-width: 500px) {
  .section__front h2 {
    font-size: 16px !important;
  }
}
.section__front__text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  position: absolute;
  left: 1.5rem;
  bottom: 40px;
}
.section__front__text__inner {
  display: flex;
  background: white;
  flex-flow: column nowrap;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 4px 4px 20px rgba(77, 71, 71, 0.4);
}
.section__front .swiper-pagination .swiper-pagination-bullet-active {
  background: white;
}
.section__front:after {
  z-index: 1;
}
.section__top {
  min-height: 150px;
  color: white;
}
.section__top__text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  position: relative;
  margin: 20px 0;
}
.section__top .section__inner {
  margin-top: 2em !important;
  margin-bottom: 1em !important;
}
.section__top .section__inner .breadcrumb {
  margin-bottom: 20px;
}
.section__top .section__inner .section__front__text {
  bottom: 10px !important;
}
.section__inner {
  max-width: 64.875rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 3em;
  margin-bottom: 4em;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.section__inner h1 {
  font-size: 40px;
  font-weight: bold;
}
.section__inner h2 {
  font-size: 24px;
  font-weight: normal;
}
.section__inner .text {
  margin-top: 25px;
}
.section__inner .text p {
  font-size: 20px;
  margin-block: 10px;
  hyphens: auto;
}
.section__content {
  max-width: 38.925rem;
  margin-top: 30px;
}
.section__content img.side {
  max-width: 40%;
  float: right;
  margin: 0 0 25px 25px;
}
.section__content img.side.full {
  max-width: 100% !important;
  width: 100% !important;
}
@media (max-width: 700px) {
  .section__content img.side {
    max-width: 55%;
  }
}
@media (max-width: 500px) {
  .section__content img.side {
    width: 100%;
    max-width: 100%;
    margin: 0 0 25px 0;
    float: none;
  }
}
.section__content h2,
.section__content h3 {
  margin: 15px 0 10px;
}
.section__content ul {
  margin: 15px 0 10px;
  list-style-type: inherit;
}
.section__content ol {
  margin: 15px 0 10px;
  list-style-type: decimal;
}
footer {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  padding-top: 80px;
}
footer .footer__row-main {
  padding-bottom: 15px;
}
footer.wave-deactivate {
  margin-top: 0 !important;
}
footer.wave-deactivate:before {
  display: none !important;
}
.sg-tag {
  background-color: #581616;
  margin: 0 7px 7px 0;
  padding: 7px 9px 1px;
  border-radius: 3px;
}
